<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IoTWebApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container text-center">
        <main role="main" class="pb-3">
            <!-- Nút Bật/Tắt sẽ được chèn từ các trang khác thông qua RenderBody -->
            @RenderBody()
        </main>
    </div>

    <!-- Thêm JavaScript cho chức năng nút -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
